<footer class="bg-black text-gray-400 py-4">
 <div class="container mx-auto text-center">
  <p>© <span id="current-year"></span>  <%= config.author%> 
    <br> Powered by <a class="hover:text-white duration-150 hover:underline decoration-slice" href="https://hexo.io/">Hexo</a> & <a class="hover:text-white duration-150 hover:underline decoration-slice" href="https://github.com/m310ct/hexo-theme-hexploit">Hexpolit</a></p>
 </div>
</footer>

<script> 
 document.getElementById("current-year").textContent = new Date().getFullYear();
</script>
<script>
window.MathJax = {
tex: {
  inlineMath: [['$', '$'], ['\\(', '\\)']]  // 启用 $...$ 和 \( ... \)
},
svg: {
  fontCache: 'global'
}
};
</script>
<script src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js" async></script>

